@charset "UTF-8";
/* common ui */
.button{
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 24px;
  margin: 10px;
  color: white;
  background: #05d685;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover{
  background: white;
  color: #05d685;
}


/* 상단으로 가기버튼 */
.back_to_top{
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  background:black;
  z-index: 900;
  /* border-radius: 100%; */
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  /* 노출과 비노출 시 transition */
  opacity: 0;
  transition: .5s;
}

.back_to_top a{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on{
  opacity: 1;
}

/* mobile button area */
input[type=checkbox]#gnbcheck{ display: none; }

#gnbbtn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
  display: none;
}

/* mobile button line style */
#gnbbtn > span{
  position: absolute;
  width: 32px;
  height: 1.6px;
  background: #ffffff;
  top: 16px;
  transform: translateY(-50%);
  /* transition: .5s; */
}

#gnbbtn > span:nth-child(1){
  top: 8px;
}

#gnbbtn > span:nth-child(3){
  top: 24px;
}

/* mobile close button */
#mobile_close_btn{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}

#mobile_close_btn:before,#mobile_close_btn:after{
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #ffffff;
  top: 16px;
  transform: translate(-50%) rotate(40deg);
}

#mobile_close_btn:before{
  transform: translate(-50%) rotate(-40deg);
}


/* header area*/
#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background: rgba(0,0,0,.3);
  z-index: 800;
}

/* top logo area */
#top_logo{
  float: left;
}

#top_logo a{
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/* gnb area*/
#gnb{
  float: right;
}

#gnb ul{
  overflow: hidden;
}

#gnb ul li{
  float: left;
}

#gnb ul li a{
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

/* section common style */
section{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* background: gray; */
  min-height: 100vh;
  box-sizing: border-box;
}

section#intro.first{
  background: url('../asset/img/clova/mainbanner.png') no-repeat;
  background-size: cover;
}

section#intro.second{
  background: url('../asset/img/clova/mainbg2.jpg') no-repeat;
  background-size: cover;
}

section#intro.third{
  background: url('../asset/img/clova/mainbg3.png') no-repeat;
  background-size: cover;
}





section#intro h2 {
  padding: 20px 0;
}

section#intro .button {
  margin: 50px 0;
}

section#introduce {
  border-bottom: 1px solid #f1f1f1;
}

section#introduce .row .column .inner p {
  color: #4a4a4a;
}

section .row .column .inner{
  text-align: center;
}
section .row .column .inner a {
  display: inline-block;
}

section .row .column .inner a img {
  display: inline-block;
}

section#feature {
  background: #f8fafc;
}
section#feature .row .column .inner h2{
  text-align: center;
  font-size: 36px;
}
section#feature .row .column .inner p {
  text-align: center;
  font-size: 22px;
}

section#feature .row .column .inner img{
  width: 75px;
}

section#feature .row .column .inner span {
  font-size: 18px;
  color: #4a4a4a;
}

section#feature .row .column .border {
  text-align: center;
  border: 1px solid #f1f1f1;
  padding: 30px;
}

section#blog{
  background: url('../asset/img/clova/blog_bg.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  text-align: center;
  min-height: 300px;
  padding: 120px 0;
}

section#blog h1 {
  margin-bottom: 20px;
  font-size: 38px;
}

section#blog .button{
  color: white;
  background: none;
  border: 1px solid white;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 20px;
}

section#blog .button:hover{
  background: white;
  color: #05d685;
}

section#news {
  border-bottom: 1px solid #f1f1f1;
}

section#news h3 {
  margin: 20px 0;
}

section#news p {
  font-size: 18px;
  color: #4a4a4a;
}

section#cloud{
  background: white;
  display: block;
  text-align: center;
  min-height: 300px;
  padding: 120px 0;
}

section#cloud h1 {
  margin-bottom: 20px;
  font-size: 38px;
}

section#cloud p {
  font-size: 18px;
  color: #666;
}

section#cloud .button{
  color: black;
  background: none;
  border: 1px solid #4a4a4a;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 20px;
}

section#business{
  background: url('../asset/img/clova/business_bg.png') center center no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  min-height: 300px;
  padding: 120px 0;
  color: white;
}

section#business h1 {
  margin-bottom: 20px;
  font-size: 38px;
}

section#business p {
  font-size: 18px;
}

section#business .button{
  background: none;
  border: 1px solid white;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 20px;
}

section#business .button:hover{
  background: white;
  color: #00a9a4;
}

section .row .column .inner.none_type{
  border: 0;
  box-shadow: none;
  background: none;
}

section > article{
  text-align: center;
  padding: 0 20%;
  color: white;
}

section > article > h2{
  font-size: 40px;
}

section > article > h3 {
   font-size: 20px;
}

section .row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1410px;
  padding: 120px 0;
  box-sizing: border-box;
  z-index: 500;
}

/*section row title style*/
section .row > h2{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

section .row > h2:before,section .row > h2:after{
  content: '';
  position: absolute;
  display: block;
}

section .row > h2:before{
  width: 120px;
  height: 1px;
  background: #dddddd;
  bottom: 1px;
  left: calc( 50% - 60px );
}

section .row > h2:after{
  width: 40px;
  height: 3px;
  background: #05d685;
  bottom: 0;/*0px*/
  left: calc( 50% - 20px );
}

section .row{
  opacity: 0;
  transform: translateY(500px);
  transition: 1s;
}

/* active interaction */
section.active .row{
  opacity: 1;
  transform: translateY(0px);
}

/* transition */
section .row .column .inner{
  text-align: center;
}


/*my profile active*/
/* section#introduce.active .row .column .inner img{
  transform: scale(1);
  opacity: 1;
  transition: 2s;
} */

/* section row column style */
section .row .column{
  flex: 25%;
}

section .row .column .inner{
  margin: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  border-radius: 5px;
}

section .row .column .inner img{
  width: 50%;
}

/* footer area */
#footer{
  background: #191919;
  color: #ffffff;
  font-size: 14px;
  font-size: 13px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: -.3px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
}

#footer .container {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px;
}

#footer .container .footer_top {
  overflow: hidden;
  margin-top: 35px;
}

#footer #footer_logo {
  float: left;
}

#footer #sns {
  float: right;
}

#footer #sns ul {
overflow: hidden;
}

#footer #sns ul li {
float: left;
margin-right: 26px;
}

#footer #sns ul li:last-child {
  margin: 0;
}

#footer .footer_bottom {
  overflow: hidden;
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  text-align: center;
  color: #666;
}

#footer .footer_bottom > li {
  flex: 33.333%;
  box-sizing: border-box;
}

#footer .footer_bottom > li > ul {
  overflow: hidden;
}

#footer .footer_bottom > li > ul > li {
  float: left;
  margin-left: 5px;
  padding-right: 10px;
  border-right: 1px solid #666;
}

#footer .footer_bottom > li > ul > li:last-child {
  border-right: none;
}

#footer .footer_bottom > li > ul > li:first-child {
  margin: 0;
}

#footer .btm_right {
  float: right;
}

#footer .btm_right a {
  color: #666;
}
/*반응형 style*/
@media screen and ( max-width: 1200px ) {
  section .row .column{
    flex: 50%;
  }
  section#introduce .row .column .inner img{
    width: 60%;
  }

  section#feature .row .column {
    flex: 33%;
  }
  section#feature .row .column .inner h2 {
    font-size: 24px;
  }
  section#feature .row .column .inner p {
    font-size: 18px;
  }

  section#feature .row .column .inner span {
    font-size: 16px;
  }
  section#news .row .column {
    flex: 33.333%;
  }
  #footer .container{
    width: 100%;
  }
  #footer .footer_bottom > li > ul > li {
    border-right: none;
    float: none;
    margin-top: 5px;
  }
}

/* tablet pc */
@media screen and ( max-width: 767px ) {

  section > article > h2 {
    font-size: 30px
  }
  section > article > h3 {
    font-size: 24px;
  }


  section .row .column{
    flex: 100%;
  }

  section#news .row .column {
    flex: 100%;
  }


  section#introduce .row .column .inner img{
    width: 50%;
  }

  section#feature .row .column .inner h2, section#feature .row .column .inner p {
    text-align: center;
  }

  section#feature .row .column {
    flex: 100%;
  }

  #footer .container {
    flex: 100%;
  }

  /*mobile gnb*/

  #mobile_close_btn{
    display: block;
  }

  #gnbbtn{
    display: block;
  }

  input[type=checkbox]#gnbcheck:checked ~ #header #gnb{
    left: 0;
  }

  /* input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(1){
    top: 16px;
    transform: rotate(40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(2){
    transform: rotate(-40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(3){
    display: none;
  } */

  #gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background: rgba(0,0,0,.8);
    transition: 0.5s ease-in-out;
  }

  #gnb ul{
    padding-top: 50px;
  }

  #gnb ul li{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }

  #header{
    position: absolute;
  }

}

/* mobile  */

@media screen and ( max-width: 480px ) {

  .button {
    font-size: 12px;
    padding: 4px 16px;
  }
  section > article > h2 {
    font-size: 22px
  }
  section > article > h3 {
    font-size: 14px;
  }


  section#news .row .column {
    flex: 100%;
  }
  section#news .row .column .inner img {
    width: 50%;
  }

  #footer .container {
    font-size: 12px;
  }
}
